PORT=3333
NODE_ENV=development
API_URL=http://localhost:3333


## Database
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_SCHEMA=public
DB_NAME=postgres
DB_USER=postgres
DB_PASS=postgres

## Dados para token JWT
JWT_SECRET=my_secret
JWT_EXPIRES_IN=86400

# Upload com Cloudflare/Amazon S3
CLOUDFLARE_ACCOUNT_ID=28983efcfb798760aa38b516aa9ce207
CLOUDFLARE_R2_URL=https://pub-21dec017b09e4932ae4f0fc8f7f1e70f.r2.dev
BUCKET_NAME=apivendas-2026
AWS_ACCESS_KEY_ID=be893e2348f7ae09f15248301cf1ed3d
AWS_SECRET_ACCESS_KEY=14dd29be8e4dbb8500f4533881ff0881072ea9de079d488245554b767e73cfa4
